.container1{
    border: 1px solid blue;
    background-color: red;
}
.wrapper {
    box-sizing: content-box;
    top: 50%;
    left: 50%;
}

.btn-group{
    display:inline-block;
}

.tbody{
    background-color: red;
}

.btn-individual{
    display:inline-block;
    margin:10px;
}
