.container{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    background-color: yellow;
}
.wrapper {
    box-sizing: content-box;
    top: 50%;
    left: 50%;
}
.btn-group{
    display:inline-block;
}
